<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	  <title>Home</title>
	</head>
	<body>
	  
 	  <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
	  
	  <h2>Home page for Dog Park app</h2>
	  
	  <h2>There are <span th:text="${numOfParks}">default text?</span> parks</h2>
	  <p>userEmail: <span th:text="${email}"></span></p>
	  
	  <ul th:each="dog: ${dogs}">
	     <li th:text="${dog.name}"></li>
	     <li>
	       <ul th:each="characteristic: ${dog.characteristics}">
	         <li th:text="${characteristic}"></li>
	       </ul>
	     </li>
	  </ul>
	  
	  <ul th:each="park: ${parks}">
	     <li th:text="${park.name}"></li>
	     <li th:text="${park.address}"></li>
       <li th:text="${park.website}"></li>
       <li th:text="${park.numOfDogsCheckedIn}"></li>
	  </ul> 
	  
	</body>
</html>