<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
      <title>Dog Park Login</title>
  </head>
  <body>
      <p th:text="${registerSuccess}"></p>
      <div th:if="${param.error}">
        Invalid username and password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>
      
      <p>Login form</p>
      <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
      </form>
      
      <a href="/register">Register new account</a>
  </body>
</html>